//
// Header
// --------------------------------------------------

header {
	height: 90px;
	position: fixed;
	top:0;
	width:100%;
	z-index: 8000;
	.header-bg {
		background-color: $gray-lighter;
		height: 100%;
		left: 0;
		opacity: 0.9;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 1;
	}
	.header-content {	
		height: 100%;
		overflow: hidden;
		position: relative;
		z-index: 9;
	}
	.logo-wrapper {
		float: left;
		height: 100%;
		line-height:90px;
		position: relative;
		width: 21.5%;
		z-index: 2;
		.logo-center {
			display: block;
			margin: 0 auto;
			width: 100%;
			img {
				max-width: 100%;
				width: 100%;
			}
		}		
	}	
}