<div class="latest-news">
	<div class="container">
		<h1 class="home-title">Communiqués de presse</h1>
		<div class="wrapper">
			<div class="row-sm-40 row-md-40 row-lg-40">
				{% for presse in latest_presse %}
			        <div class="col-sm-12 col-md-6 col-lg-4 news-item">
			        	<div class="news-inner">
			        		<div class="news-image">
			        			<img src="{{ presse.image }}" alt="" class="valign">	
			        		</div>			        		
			        		<p>{{presse.title}}</p>
			        		<a href="{{presse.link}}">En savoir +</a>
			        	</div>		        	
			        </div>		        
			    {% endfor %}
			</div>
		</div>
	</div>
</div>
