<div class="link-more">
	<div class="container">
		<h1 class="home-title">{{ home.titre_more }}</h1>	
	</div>
	<div class="link-more-content">
		<div class="container">
			{% for link_more in home.en_savoir_plus %}
				<a href="{{ link_more.lien_more }}" class="link-more-bloc">
					<span class="link-more-hover"></span>
					<span class="valign">{{ link_more.texte_more }}</span>
				</a>
			{% endfor %}
			
		</div>
	</div>
	
</div>
