<div class="link-infos">
	<div class="container">
		<h1 class="home-title">{{ home.titre_dispositif }}</h1>	
	</div>

	<div class="link-infos-content">
		<div class="container">
			<div class="row-sm-40 row-md-40 row-lg-40">
				{% for dispositif in home.dispositif %}
				<a href="{{ dispositif.lien }}" class="link-infos-bloc col-sm-12 col-md-4 col-lg-4">
					<span class="link-infos-hover"></span>
					<span class="valign">{{ dispositif.texte }}</span>
				</a>
				{% endfor %}
			</div>			
		</div>
	</div>
	
</div>
