<div class="link-infos">
	<div class="container">
		<h1 class="home-title">{{ home.titre_dispositif }}</h1>	
	</div>

	<div class="link-infos-content">
		<div class="container">
			{% for dispositif in home.dispositif %}
				<a href="{{ dispositif.lien }}" class="link-infos-bloc">
					<span class="link-infos-hover"></span>
					<span class="valign">{{ dispositif.texte }}</span>
				</a>
			{% endfor %}
		</div>
	</div>
	
</div>
