<div class="nav-main">
    <div class="main-menu">
        <ul>
            <li></li>
        {% for item in main_menu.items %}            
            <li class="">
                <a href="{{item.link}}" class="inner" title="{{item.title}}" id="{{ item.id }}">
                    <span class="first-menu-item">{{item.title}}</span>                    
                </a>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
