<div class="meet-expert">
	<div class="container">
		<h1 class="home-title">Rencontrez nos experts</h1>	
	</div>
	<div class="meet-expert-content">
		<div class="wrapper container">
			<div class="row-sm-40 row-md-40 row-lg-40 meet-expert-wrapper">
				<div class="col-sm-12 col-md-6 col-lg-6 meet-expert-bloc valign">
					<img src="{{img_dir}}/expert-1.jpg" alt="">
					<div class="meet-expert-desc">
						<div class="row-sm-40 row-md-40 row-lg-40">
							<div class="col-sm-12 col-md-8 col-lg-8">
								<p>Viviane Centaure</p>
								<span>Infirmière Cordiva</span>
								<span>Paris</span>
							</div>
							<div class="col-sm-12 col-md-4 col-lg-4">
								<a href="#" class="btn-purple">Voir l'interview</a>
							</div>
						</div>
					</div>
				</div>
				<div class="col-sm-12 col-md-6 col-lg-6 meet-expert-bloc valign">
					<img src="{{img_dir}}/expert-2.jpg" alt="">
					<div class="meet-expert-desc">
						<div class="row-sm-40 row-md-40 row-lg-40">
							<div class="col-sm-12 col-md-8 col-lg-8">
								<p>Prof. Patrick Jourdain</p>
								<span>Cardiologue</span>
								<span>CH René du Bois Pontoise</span>
							</div>
							<div class="col-sm-12 col-md-4 col-lg-4">
								<a href="#" class="btn-purple">Voir l'interview</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>
