<div class="mobile-menu-first">
    <div class="logo-wrapper">
        <div class="logo-center">
            <a class="logo-link valign" href="{{home_url}}" rel="home">
                <img src="{{img_dir}}/logo.png" alt="">
            </a>
        </div>                          
    </div>
    <div class="mobile-menu-open"></div>
</div>
