//
// Scaffolding
// --------------------------------------------------

// Reset the box-sizing
// -------------------------
* {
    @include box-sizing(border-box);
}

// Body reset
// -------------------------

html {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: 100%;
}

body {
    font-family: $font-heading;
    font-size: $font-size-base;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-font-feature-settings: "liga", "kern";
    
    background-color: $white;
    
    line-height: 1.6;
    font-weight: $normal;
    
    width: 100%;
    overflow: auto;
}

::-moz-selection { 
    background: $brand;
    color: $white;
}
::selection {
    background: $brand;
    color: $white;
}

// contents
// -------------------------

.wrapper {
    height: 100%;
    margin: 0 auto;
    width: 1280px;
}

.container {
    margin: 0 auto;
    width: 1024px;

    .content {        
        p {
            color: $gray;
            font-size: 14px;
            font-weight: $normal;
            text-align:justify;
        }
    }
}

.page-content {
    background-color:$white;
    padding: 100px 0;
}

// Links
// -------------------------

a {
    text-decoration: none;
    color: $brand;
    position: relative;
    display: inline-block;

    &:focus {
        -moz-outline-style: none;
        outline: none;
    }

    &:hover {

    }
}


// Images
// -------------------------

img {
    display: block;
}

.img-responsive {
    width: 100%;
    height: auto;
}


// Separator hr
// -------------------------

hr {
    border: none;
    width: 100%;
    height:1px;
    background:$gray-light;
    margin: 20px 0 50px;
    
    &.black {
        background-color: $black;
    }
}

// PerfectScroll
// -------------------------

.disable-hover,
.disable-hover * {
  pointer-events: none !important;
}

// Gap
// -------------------------
.gap-20 {
    margin-top: 20px !important;
}
.gap-40 {
    margin-top: 40px !important;
}
.gap-60 {
    margin-top: 60px !important;
}
.gap-70 {
    margin-top: 70px !important;
}
.gap-80 {
    margin-top: 80px !important;
}


.content-headlight {
    display:inline-block;
    height:500px;
    line-height:500px;
    position: relative;
    width:100%;
    h1 {
        color: $purple;
        font-size: 40px;
        font-weight: $light;
        width: 500px;
    }
    p {
        color: $gray;
        font-size: 18px;
        font-weight: $light;
        text-align: justify;
        width: 500px;
    }
}