//
// Bloc Link
// --------------------------------------------------

.bloc-link-wrapper {
    position: fixed;
    right: 0;
    top: 105px;
    width: 180px;
    z-index: 9;
}
.bloc-link {
    height: 115px;
    margin-bottom: 20px;
    position: relative;
    width: 180px;
    img {
        max-width: 100%;
        width: 100%;
        z-index: 1;
    }
    span {
        color: $white;
        font-size: 13px;
        font-weight: $normal;
        left: 9px;
        position: absolute;
        top:9px;
        z-index: 2;
    }
}