//
// Bloc Link Infos Homepage
// --------------------------------------------------

.link-infos {
    margin-bottom: 200px;
}

.link-infos-content {
    background:url('../images/bg-link-infos.jpg') center center no-repeat;
    background-size:cover;
    height: 540px;
    position: relative;
    width: 100%;
}

.link-infos-bloc {
    float: left;
    height: 100%;
    line-height: 540px;
    position: relative;
    text-align: center;
    width: 33%;
    @include transition(all 400ms ease);
    &:nth-child(2) {
        border-left:1px solid $white;
        border-right:1px solid $white;
    }
    .link-infos-hover {
        background-color:$purple-dark;
        height: 100%;
        opacity: 0;
        left: 0;
        top: 0;
        position: absolute;
        visibility: hidden;
        width: 100%;
        z-index: 1;
    }
    &.mini {
        width: 25%;
        @include transition(all 400ms ease);
    }
    &.expand {
        width: 50%;
        @include transition(all 400ms ease);
        .link-infos-hover {
            opacity: 0.7;
            visibility: visible;
        }
    }
    span {
        color: $white;
        font-size: 24px;
        font-weight: $normal;
        font-family: 'HelveticaNeueLTStd-Md';
        position: relative;
        z-index: 2;
    }
}

@media (max-width: $screen-sm) {
    .link-infos {
        margin-bottom: 100px;
        .link-infos-content {
            height: 276px;
        }
        .link-infos-bloc {
            height: 92px;
            line-height: 92px;
            margin-top: 0 !important;
            width: 100%;
            &:nth-child(2){
                border-top: 1px solid $white;
                border-bottom: 1px solid $white;
                border-right:none;
                border-left:none;
            }
        }
    }    
}