//
// Bloc Meet Expert
// --------------------------------------------------

.meet-expert {
    margin-bottom: 200px;
}

.meet-expert-content {
    background-color: $gray-lighter;
    height: 500px;
    width: 100%;
    .meet-expert-bloc {
        padding:30px 0 30px 12px;        
        &:first-child {
            padding:30px 12px 30px 0;
        }
        img {
            max-width: 100%;
        }
        p {
            color: $purple;
            display: block;
            font-size: 30px;
            font-weight: $light;
            padding-top:30px;
        }
        span {
            color: $gray;
            display: block;
            font-size: 18px;
            font-weight: $light;
        }        
    }
}