//
// Bloc Meet Expert
// --------------------------------------------------

.meet-expert {
    margin-bottom: 200px;
}

.meet-expert-content {
    background-color: $gray-lighter;
    height: 500px;
    width: 100%;
    .meet-expert-bloc {
        padding:30px 0 30px 12px;        
        &:first-child {
            padding:30px 12px 30px 0;
        }
        img {
            max-width: 100%;
        }
        p {
            color: $purple;
            display: block;
            font-size: 30px;
            font-weight: $light;
            padding-top:30px;
        }
        span {
            color: $gray;
            display: block;
            font-size: 18px;
            font-weight: $light;
        }
        .btn-purple {
            color: $white;
            font-size: 18px;
            font-weight: $normal;
            background-color:$purple;
            border-radius: 10px;
            height: 50px;
            line-height: 50px;
            margin-top:30px;
            text-align: center;
            width: 100%;
            &:hover {
                background-color:$purple-dark;
            }
        }
    }
}