//
// Menu
// --------------------------------------------------

.nav-main {
    float: left;
    height: 100%;
    width: 78%;
}

.main-menu {
    height: 100%;
    text-align: right;
    // position: relative;
    z-index: 2;
    ul.first-menu {
        height: 100%;
        padding:0;
        overflow: hidden;
        margin: 0;
        float:right;
    }
    li.first-menu-li {
        border-left: 1px solid $gray-light;
        float: left;
        height: 100%;
        line-height: 90px;
        list-style: none;
        padding: 0 20px;
        margin: 0;
        a.first-menu-link {
            color: $gray;
            font-size: 16px;
            font-family: 'HelveticaNeueLTStd-Md';
        }
    }   
}

.header-submenu {
    background-color:$white;
    left: 0;
    top: 90px;
    height: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
    @include transition(all 500ms ease);
}

ul.submenu {
    height: 90px;
    text-align: center;
    padding:0;
    margin:0;
    opacity: 0;
    visibility: hidden;
    display: none;
    position: absolute;
    // left: 50%;
    margin-left: -100px;
    top: 90px;
    width: auto;
    &.submenu-23 {
        margin-left: -250px;    
    }
    li.submenu-li {
        list-style: none;
        display: inline-block;
        line-height: 90px;
        padding: 0 20px;
        a.submenu-link {
            color: $gray;
            font-size: 16px;
        }
    }
}

header {
    @include transform(translateY(0));
    // @include transition(all 400ms ease);
    &.open {
        .header-submenu {
            height: 90px;
            z-index: 9;
            @include transition(all 400ms ease);
        }
        ul.submenu {
            z-index: 10;
        }
    }
    &.open-mobile {
        @include transform(translateY(200px));
        @include transition(all 400ms ease);
    }
    .container {
        padding-right:0;
    }
}

body {
    &.mobile {
        header {
            @include transition(all 400ms ease);
        }
    }
}

.footer-menu {
    text-align: right;
    li {
        display: inline-block;
        list-style:none;
        padding: 0 5px;
        a {
            color: $purple;
            font-size: 12px;
            font-weight: $normal;
            font-family: 'HelveticaNeueLTStd-Md';
        }
    }
}

.mobile-menu-first {
    height: 65px;
    display: none;
    width: 100%;
    .logo-wrapper {
        width: 75%;
        .logo-center {
            height: 65px;
            line-height: 65px;
        }
    }
    .mobile-menu-open {
        background:url('../images/menu.png') center center no-repeat;
        background-size:100%;
        cursor: pointer;
        display: block;
        height: 100%;
        position: absolute;
        right: 15px;
        width: 25px;
    }
}


.nav-mobile {
    background-color:$gray-lighter;
    @include transform(translateY(-200px));
    @include transition(all 400ms ease);
    display: none;
    &.open-mobile {
        position: fixed;
        top:0;
        width: 100%;
        z-index: 9999;
        opacity: 1;
        visibility: visible;
        @include transform(translateY(0));
        @include transition(all 400ms ease);
    }
    .first-menu {
        padding:0;
    }
    .first-menu-li {
        border-bottom:1px solid $gray-light;
        height: 40px;
        line-height: 40px;
        list-style:none;
        text-align: center;
        width: 100%;
        a {
            color: $gray;
            font-size: 16px;
            font-family: 'HelveticaNeueLTStd-Md';
        }
    }
}

@media (max-width: $screen-sm) {
    header {
        height: 65px;
    }
    .nav-mobile {
        display: block;
    }
    .mobile-menu-first {
        display: block;
    }
    .main-content {
        @include transform(translateY(-200px));
        @include transition(all 400ms ease);
        &.open-mobile {
            @include transform(translateY(0));
            @include transition(all 400ms ease);
        }
    }
}

@media #{$tablet-landscape} {
    .main-menu {
        li.first-menu-li {
            padding: 0 9px;
            a.first-menu-link {
                color: $gray;
                font-size: 11px;
                font-family: 'HelveticaNeueLTStd-Md';
            }
        }   
    }
    ul.submenu {
        display: none;
    }
}

@media (min-width: $screen-md) and (max-width: $screen-lg) {
    .main-menu {
        li.first-menu-li {
            padding: 0 12px;
            a.first-menu-link {
                color: $gray;
                font-size: 13px;
                font-family: 'HelveticaNeueLTStd-Md';
            }
        }        
    }
    ul.submenu {            
        li.submenu-li {                
            a.submenu-link {
                font-size: 13px;
            }
        }
    }
}
