//
// Lastest News
// --------------------------------------------------

.latest-news {
    text-align: center;
    margin-bottom: 200px;
}

.news-item {
    height: 270px;
    margin-bottom: 60px;
    .news-inner {
        padding: 0 40px;
        .news-image {            
            height: auto;
            line-height: 150px;
            width: 100%;
            img {
                border:1px solid $gray-light;
                width: 100%;
                max-width: 100%;
            }
        }
        p {
            color: $gray-dark;
            font-size: 16px;
            font-weight: $normal;
            font-family: 'HelveticaNeueLTStd-Md';
            line-height: 120%;
            margin-bottom: 15px;
        }
        a {
            color: $purple;
            font-size: 12px;
            font-weight: $normal;
            font-family: 'HelveticaNeueLTStd-Md';
        }
    }
}

.see-news {
    color: $purple;
    font-size: 16px;
    font-family: 'HelveticaNeueLTStd-Md';
    margin-top: 50px;
    &:hover {
        text-decoration: underline;
    }
}

@media (max-width: $screen-sm) {
    .latest-news {
        margin-bottom: 100px;
    }
    .news-item {
        height: auto;
        margin-bottom: 20px;
        margin-top: 0 !important;
        .news-inner {
            padding:0;
        }
    }
}

@media #{$tablet-landscape} {
    .news-wrapper {
        margin: 0 auto;
        width: 100%;
    }
    .news-item {
        &:nth-child(even){
            border-left: 1px solid $gray-light;
            // border-right: 1px solid $gray-light;
        }
        
    }
}

@media #{$desktop} {
    .news-item {
        &:nth-child(2), &:nth-child(5){
            border-left: 1px solid $gray-light;
            border-right: 1px solid $gray-light;
        }
        &:nth-child(4){
            border-left:none;
        }
        &:nth-child(n+4){
            margin-bottom: 0;
        }
    }
    .page-id-19 {
        .news-item {
            &:nth-child(n+4){
                margin-bottom: 60px;
            }
        }
    }
}