//
// SLIDER
// --------------------------------------------------
.headlight {    
    height:500px;
    width:100%;
    .headlight-slider {
        height: 100%;
        width: 100;
        button {
            background-color:transparent;
            border:none;
        }
    }
}
.headlight-slide {
    // background:url('../images/bg-slider.jpg') center center no-repeat;
    // background-size:cover;
    height: 100%;
    width: 100%;
    .container {
        height: 100%;
        position: relative;
    }
    .headlight-slide-content {
        height: 210px;
        margin-top: -105px;
        top: 50%;
        position: absolute;
        p {
            color: $purple;
            font-size: 36px;
            font-weight: $light;
            line-height: 120%;
            width: 365px;
        }
        .btn-purple {
            width: 185px;
        }
    }    
}
.bg-mobile-slide {
    display: none;
}
.slick-dots {
    bottom: 35px;
    left: 50%;
    margin-left:-25px;
    padding:0;
    position: absolute;
    width: auto;
    li {
        background-color:$white;
        border-radius:100%;
        cursor:pointer;
        height: 15px;
        float: left;
        list-style: none;
        position: relative;        
        width: 15px;
        &:nth-child(odd) {
            margin: 0 10px;
        }
        &:hover {
            background-color:$purple;
        }
        &.slick-active {
            background-color:$purple;
        }
        a {
            height: 100%;
            width: 100%;
        }
        button {
            height: 15px;
            left: 0;
            margin:0;
            padding:0;
            position: absolute;
            top: 0;
            width: 15px;
            text-indent: -9999px;
            background-color:transparent;
            border:none;
        }
    }
}

.slick-next, .slick-prev {
    height: 60px;
    margin-top: -30px;
    padding:0;
    position: absolute;
    top: 50%;
    text-indent: -9999px;
    width: 31px;
    
}

.slick-next {
    background:url('../images/arrow-next.png') center center no-repeat;
    right: 200px;
    @include transform(translateX(-30px));
}

.slick-prev {
    background:url('../images/arrow-next.png') center center no-repeat;
    left: 0;
    @include transform(rotate(-180deg) translateX(-30px));
}

@media (max-width: $screen-sm) {
    .headlight-slide {
        background:transparent !important;
        .container {
            background-color:$gray-lighter;
            height: auto;
            padding-bottom: 50px;
        }
        .headlight-slide-content {
            margin-top: 0;
            position: relative;
            top: 0;
            p {
                font-size: 20px;
                padding-top: 20px;
                width: 100%;
            }
        }
    }
    .bg-mobile-slide {
        display: block;
        height: 250px;
    }
    .slick-dots {
        bottom:10px;
    }
    .slick-prev, .slick-next {
        display: none !important;
    }
}