//
// Contact page
// --------------------------------------------------

.contact-title {
	color:$gray;
	font-size: 28px;
	font-weight: $light;
}
.wpcf7 {
	margin-bottom:50px !important;
	p {
		color: $gray;
		font-size: 18px;
		font-weight: $normal;
	}	
}