//
// Home page
// --------------------------------------------------
body {
	background:url('../images/bg.png') center center no-repeat;
	background-attachment: fixed;
	background-size:cover;
}

.home {
	.main-content {
		position: relative;
		top: -90px;
		z-index: 1;
	}
}

.headlight {	
	height:500px;
	width:100%;
}