//
// Home page
// --------------------------------------------------
body {
	background:url('../images/bg.png') no-repeat;
	background-attachment: fixed;
}

.headlight {	
	height:500px;
	width:100%;
}