//
// Resultat page
// --------------------------------------------------

.content {
	.col-7 {
		padding-right: 30px;
	}
	.col-5 {
		padding-left:30px;
		img {
			max-width: 100%;
			width: 100%;
		}
	}
}