{% extends "base.twig" %}
{% block content %}
    <div class="headlight">
        <div class="headlight-slider">
            <div class="headlight-slide">
                <div class="container">
                    <div class="headlight-slide-content">
                        <p>Mieux accompagner<br/>les patients face à<br/>l’Insuffisance cardiaque</p>
                        <a href="#" class="btn-purple">En savoir plus</a>
                    </div>                
                </div>          
            </div>
            <div class="headlight-slide">
                <div class="container">
                    <div class="headlight-slide-content">
                        <p>À quoi l’insuffisance<br/>cardiaque est-elle due ?</p>
                        <a href="#" class="btn-purple">En savoir plus</a>
                    </div>                
                </div>          
            </div>
            <div class="headlight-slide">
                <div class="container">
                    <div class="headlight-slide-content">
                        <p>Le conseil scientifique Cordiva</p>
                        <a href="#" class="btn-purple">En savoir plus</a>
                    </div>                
                </div>          
            </div>
        </div>    	
        <!-- <img src="{{img_dir}}/bg-slider.jpg" alt=""> -->
    </div>

	{% include 'partials/latest-news.twig' %}

	{% include 'partials/link-infos.twig' %}

	{% include 'partials/meet-expert.twig' %}

	{% include 'partials/link-more.twig' %}
	
{% endblock %}