{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% include 'partials/bloc-link.twig' %}

		<header class="header" >
			<div class="header-bg"></div>
			<div class="header-content">
				{% block header %}									
										
					{% include 'partials/main-menu.twig' %}						
					
				{% endblock %}
			</div>			
		</header>

		<div class="main-content">
			{% block content %}
				Sorry, no content
			{% endblock %}
		</div>	

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}
	</body>
</html>