<footer>
	<div id="footer-top">
		<div class="wrapper 	container">
			<div id="footer-top-wrapper">
				<div class="row-sm-40 row-md-40 row-lg-40">
					<div class="col-sm-12 col-md-4 col-lg-4 contact-particulier footer-inner">
						<h2>Contact</h2>
						<a href="{{link_contact_particulier}}">
							<span>Vous êtes un<br/>particulier ?</span>
						</a>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 contact-pro footer-inner">
						<a href="{{link_contact_pro}}">
							<span>Vous êtes<br/>professionnel de<br/>santé ?</span>
						</a>
					</div>
					<div class="col-sm-12 col-md-4 col-lg-4 footer-inner">
						<h2>Newsletter</h2>
						<div class="footer-newsletter">
							<div class="footer-newsletter-wrapper">
								<span>Votre adresse e-mail</span>
								<form action="">
									<input type="text" name="newsletter">
									<input type="submit" value="OK">
								</form>
							</div>							
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="footer-bottom">
		<div class="wrapper container">
			<div class="row-sm-40 row-md-40 row-lg-40">
				<div class="col-sm-12 col-md-4 col-lg-4">
					<span>Ce site est uniquement à destination des professionnels de santé</span>
				</div>
				<div class="col-sm-12 col-md-8 col-lg-8 footer-menu-wrapper">
					{% include 'partials/footer-menu.twig' %}		
				</div>
			</div>
			<div class="row">
				<a href="">Powered by Alere.com</a>
				<span>© 2015 Alere. All rights reserved. Alere is a trademark of the Alere group of companies.</span>
			</div>
		</div>
	</div>
</footer>



                      