//
// Variables
// --------------------------------------------------
/* Sizes */
$grid-gutter-width: 0; //reset grid gutter
$max-width: 1240px;
$break--medium: 1239px;
$break--small: 1023px;
$break--xSmall: 767px;

$screen-xs: 670px;
$screen-sm: 768px;
$screen-md: 1024px;
$screen-lg: 1240px;

$container-tablet:         $screen-sm;
$container-desktop:        $screen-md;
$container-large-desktop:  $screen-lg;

/* Medias queries */
$desktop: "only screen and (min-width : " + $screen-md + ")";
$tablet-landscape: "only screen and (max-width : " + $screen-md + ") and (min-width : " + $screen-sm + ")";
$tablet-portrait: "only screen and (min-width : " + $break--xSmall + ")";

/* Grid */
$gutter-sizes: (
    10,
    15,
    20,
    25,
    30,
    35,
    40,
    60,
    80
);

$url: '../images/';

// Brand colors
// -------------------------

$gray-dark:		   #232c30;
$gray:			     #5c696f;
$gray-light:	   #dedede;
$gray-lighter:	 #f2f2f2;
$gray-p:         #7f7e7f;

$blue-dark:		   #5c6c93;
$blue:			     #1e343e;
$blue-sky:		   #5fafbd;
$blue-green:	   #37b7b2;

$white :        #FFF;
$black :        #000;

$purple-dark :	#340a22;
$purple	:		#890c58;

$brand:         #074276;
$brand-hover:   #FFF;

$red-dark:      #a94442;
$red:           #d9534f;
$red-light:     #f2dede;

$blue-light:    #d9edf7;

$green-dark:    #3c763d;
$green-light:   #288480;

$orange-dark:   #8a6d3b;
$orange:        #f0ad4e;
$orange-light:  #FCF8E2;

$white :        #FFF;
$black :        #000;

$gray-darker:   #202020;


// Typography
// -------------------------

$font-heading:       "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-sans-serif:    "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-serif:         Georgia, serif;

$ultra-light: 200;
$light: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;
$extra-bold: 900;

$font-size-base: 13px;
$font-size-large: 18px;
$font-size-small: 12px;

$font-size-h1: 36px;
$font-size-h2: 30px;
$font-size-h3: 24px;
$font-size-h4: 18px;
$font-size-h5: 13px;
$font-size-h6: 12px;


// breakpoints
// -------------------------

$breakpoints: (
  'medium': (min-width: 800px),
  'large': (min-width: 1000px),
  'huge': (min-width: 1200px),
);


// Easing
// -------------------------

$linear:         cubic-bezier(0.250, 0.250, 0.750, 0.750);
$easeInQuad:     cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeInCubic:    cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeInQuart:    cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeInQuint:    cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeInSine:     cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeInExpo:     cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeInCirc:     cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeInBack:     cubic-bezier(0.600, 0, 0.735, 0.045);

$easeOutQuad:    cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeOutCubic:   cubic-bezier(0.215, 0.610, 0.355, 1.000); 
$easeOutQuart:   cubic-bezier(0.165, 0.840, 0.440, 1.000); 
$easeOutQuint:   cubic-bezier(0.230, 1.000, 0.320, 1.000); 
$easeOutSine:    cubic-bezier(0.390, 0.575, 0.565, 1.000); 
$easeOutExpo:    cubic-bezier(0.190, 1.000, 0.220, 1.000); 
$easeOutCirc:    cubic-bezier(0.075, 0.820, 0.165, 1.000); 
$easeOutBack:    cubic-bezier(0.175, 0.885, 0.320, 1);

$easeInOutQuad:  cubic-bezier(0.455, 0.030, 0.515, 0.955); 
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000); 
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000); 
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000); 
$easeInOutSine:  cubic-bezier(0.445, 0.050, 0.550, 0.950); 
$easeInOutExpo:  cubic-bezier(1.000, 0.000, 0.000, 1.000); 
$easeInOutCirc:  cubic-bezier(0.785, 0.135, 0.150, 0.860); 
$easeInOutBack:  cubic-bezier(0.680, 0, 0.265, 1);


/*
 * This stylesheet generated by Fontaine
 */


@font-face {
  font-family: 'HelveticaNeueLTStd-Bd';
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot');
  src: url('../fonts/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTStd-Bd.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-Bd.ttf')  format('truetype'),
     url('../fonts/HelveticaNeueLTStd-Bd.svg#HelveticaNeueLTStd-Bd') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Blk';
  src: url('../fonts/HelveticaNeueLTStd-Blk.eot');
  src: url('../fonts/HelveticaNeueLTStd-Blk.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTStd-Blk.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-Blk.ttf')  format('truetype'),
     url('../fonts/HelveticaNeueLTStd-Blk.svg#HelveticaNeueLTStd-Blk') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Hv';
  src: url('../fonts/HelveticaNeueLTStd-Hv.eot');
  src: url('../fonts/HelveticaNeueLTStd-Hv.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTStd-Hv.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-Hv.ttf')  format('truetype'),
     url('../fonts/HelveticaNeueLTStd-Hv.svg#HelveticaNeueLTStd-Hv') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Lt';
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot');
  src: url('../fonts/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTStd-Lt.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-Lt.ttf')  format('truetype'),
     url('../fonts/HelveticaNeueLTStd-Lt.svg#HelveticaNeueLTStd-Lt') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Md';
  src: url('../fonts/HelveticaNeueLTStd-Md.eot');
  src: url('../fonts/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTStd-Md.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-Md.ttf')  format('truetype'),
     url('../fonts/HelveticaNeueLTStd-Md.svg#HelveticaNeueLTStd-Md') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Roman';
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot');
  src: url('../fonts/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTStd-Roman.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-Roman.ttf')  format('truetype'),
     url('../fonts/HelveticaNeueLTStd-Roman.svg#HelveticaNeueLTStd-Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-Th';
  src: url('../fonts/HelveticaNeueLTStd-Th.eot');
  src: url('../fonts/HelveticaNeueLTStd-Th.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTStd-Th.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-Th.ttf')  format('truetype'),
     url('../fonts/HelveticaNeueLTStd-Th.svg#HelveticaNeueLTStd-Th') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HelveticaNeueLTStd-UltLt';
  src: url('../fonts/HelveticaNeueLTStd-UltLt.eot');
  src: url('../fonts/HelveticaNeueLTStd-UltLt.eot?#iefix') format('embedded-opentype'),
     url('../fonts/HelveticaNeueLTStd-UltLt.woff') format('woff'),
      url('../fonts/HelveticaNeueLTStd-UltLt.ttf')  format('truetype'),
     url('../fonts/HelveticaNeueLTStd-UltLt.svg#HelveticaNeueLTStd-UltLt') format('svg');
  font-weight: normal;
  font-style: normal;
}


